// Place all the styles related to the formulier controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h1-top {
  margin-top: 50px;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.form-post {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

.flexbox {
  display: flex;
  align-items: center;
}

.p-werkuren {
  font-weight: bold;
  margin: 0;
  margin-right: 50px;
}

.p-werkuren2 {
  font-weight: bold;
  margin: 0;
  margin-right: 50px;
  margin-bottom: 15px;
}

.margin-left {
  margin-left: 0;
  padding-left: 30px;
}

.col-fixed-200{
    width:200px;
}

.col-fixed-300{
    width:300px;
}

.main-button {
  background-color: #1c367b !important;
  color: white !important;
  margin-bottom: 60px !important;
}
